//---------------------
// VARIABLES
//---------------------

$maincolor: black;
$contrastcolor: white;

$palletgray: #2c3531;
$palletblue: #116466;
$palletbluetransparent: #11646670;
$palletdarktan: #d9b08c;
$palletlighttan: #ffcb9a;
$palletwhite: #d1e8e2;

@mixin white-text-blue-bg {
  color: $palletwhite;
  background-color: $palletblue;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

body {
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

//---------------------
// HEADER
//---------------------

nav {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 4em;
  align-items: center;

  img {
    height: 3em;
    left: 0;
    margin-left: 1em;
  }

  a {
    text-align: right;
    color: $palletwhite;
  }

  &.dark {
    @include white-text-blue-bg;
    box-shadow: 0px 2px 5px $palletlighttan;
    color: $palletwhite;
  }
}
main {
  padding: 1em;
  &.dark {
    background-color: $palletgray;
  }
}

.dark {
  color: $palletwhite;
}

.slide {
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  height: 10em;
  width: 20em;
  background-color: $palletbluetransparent;

  .inner-border {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 95%;
    border: 1px solid $palletdarktan;
  }

  p {
    color: white;
    font-size: 2em;
    background-color: $palletblue;
    margin: 1em;
    width: 90%;
    border: 3px solid $palletlighttan;
    border-radius: 1em;
  }
}
